@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-30%);
  }
}

.animate-slide {
  display: flex;
  animation: slide 15s linear infinite;
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(30%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.slide-in-bottom {
  animation: slideInFromBottom 1s ease-out;
}
