@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-30%);
  }
}

.perspective-container {
  perspective: 1500px; /* Adds depth */
}

.custom-transform {
  transform: rotateX(70deg) rotateY(40deg) rotateZ(-50deg); /* Adjust for inclination */
  transform-style: preserve-3d; /* Ensures 3D effect is applied */
}

.animate-slide {
  display: flex;
  animation: slide 15s linear infinite;
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(30%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.slide-in-bottom {
  animation: slideInFromBottom 1s ease-out;
}

.theme-custom {
  /* Name: custom color palette
       Author: Ilias Ism
       URL: https://gradient.page */

  /* CSS: .bg-gradient { background: var(--gradient) } */
  --gradient: linear-gradient(to top left, #4776e6, #8e54e9);

  --background: 236 49.4% 4.72%;
  --foreground: 236 7.6% 97.95%;

  --muted: 236 38% 17.7%;
  --muted-foreground: 236 7.6% 55.9%;

  --popover: 236 49.8% 7.67%;
  --popover-foreground: 236 7.6% 97.95%;

  --card: 236 49.8% 7.67%;
  --card-foreground: 236 7.6% 97.95%;

  --border: 236 38% 17.7%;
  --input: 236 38% 17.7%;

  --primary: 236 76% 59%;
  --primary-foreground: 236 7.6% 5.8999999999999995%;

  --secondary: 236 38% 17.7%;
  --secondary-foreground: 236 7.6% 97.95%;

  --accent: 236 38% 17.7%;
  --accent-foreground: 236 7.6% 97.95%;

  --destructive: 0 62.8% 30.6%;
  --destructive-foreground: 236 7.6% 97.95%;

  --ring: 236 76% 59%;
}
